# 유저 데이터를 정제해서 mysql에 집어 넣는다.
## 절대 실행하지마세요 이미 완료된 작업

In [1]:
import graphlab as gl
import pymysql as sql
import pymysql.cursors


from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

# if connection:
#     connection.close()

kakao_host ='10.198.23.243' # 카카오 내 호스트
kakao_user = 'user'
google_host = '35.229.56.244' # 구글 클라우드 호스트
google_user = 'root'
connection = sql.connect(host=kakao_host,
                         user=kakao_user,
                         password='8888',
                         db='ITM',
                         charset='utf8mb4',
                         cursorclass=pymysql.cursors.DictCursor)
connection

In [2]:
users = gl.SFrame('./dataset/user-dataset/')
users.head(5)

/Users/kakao/anaconda/envs/gl-env/lib/python2.7/site-packages/requests/packages/urllib3/util/ssl_.py:315: SNIMissingWarning: An HTTPS request has been made, but the SNI (Subject Name Indication) extension to TLS is not available on this platform. This may cause the server to present an incorrect TLS certificate, which can cause validation failures. For more information, see https://urllib3.readthedocs.org/en/latest/security.html#snimissingwarning.
  SNIMissingWarning
/Users/kakao/anaconda/envs/gl-env/lib/python2.7/site-packages/requests/packages/urllib3/util/ssl_.py:120: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and may cause certain SSL connections to fail. For more information, see https://urllib3.readthedocs.org/en/latest/security.html#insecureplatformwarning.
  InsecurePlatformWarning
[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1542856120.log

This non-commercial license of GraphLab Create for academic use is assigned to yceffort@kaist.ac.kr and will expire on September 07, 2019.

Columns:
	average_stars	float
	cool	int
	elite	str
	fans	int
	funny	int
	name	str
	review_count	int
	useful	int
	user_id	str
	yelping_since	str
	gender	str

Rows: 5

Data:
+---------------+------+-------+------+-------+----------+--------------+--------+
| average_stars | cool | elite | fans | funny |   name   | review_count | useful |
+---------------+------+-------+------+-------+----------+--------------+--------+
|      2.0      |  0   |  None |  0   |   0   |  Susan   |      1       |   0    |
|      4.0      |  0   |  None |  0   |   0   |   Andy   |      1       |   0    |
|      4.05     |  0   |  None |  0   |   0   | Jonathan |      19      |   0    |
|      3.0      |  0   |  None |  0   |   0   | Shashank |      3       |   0    |
|      5.0      |  0   |  None |  0   |   0   | Lindsay  |      2       |   0    |
+---------------+------+-------+------+-------+----------+--------------+--------+
+------------------------+---------------+--------+
|        user_id         | yelping_since | gender |
+------------------------+---------------+--------+
| lzlZwIpuSWXEnNS91wxjHw |   2015-09-28  |   F    |
| QPT4Ud4H5sJVr68yXhoWFw |   2016-07-21  |   F    |
| i5YitlHZpf0B3R0s_8NVuw |   2014-08-04  |   M    |
| s4FoIXE_LSGviTHBe8dmcg |   2017-06-18  |   M    |
| h3p6aeVL7vrafSOM50SsCg |   2016-02-02  |   F    |
+------------------------+---------------+--------+
[5 rows x 11 columns]

In [17]:
def insert_database(user):
    with connection.cursor() as cursor:
        sql = """
        INSERT INTO `users` (average_stars, cool, elite, fans, funny, name, review_count, useful, user_id, yelping_since, gender, created_at, updated_at)
        values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, current_timestamp(), current_timestamp())
        """
        
        cursor.execute(sql, (user['average_stars'], 
                             user['cool'],  
                             user['elite'],  
                             user['fans'],  
                             user['funny'],  
                             user['name'],  
                             user['review_count'],  
                             user['useful'],
                             user['user_id'],  
                             user['yelping_since'],  
                             user['gender'], )
                      )
        connection.commit()

In [18]:
from tqdm import tqdm_notebook as tqdm
for i in tqdm(users):
    insert_database(i)

In [7]:
users[0]

{'average_stars': 2.0,
 'cool': 0,
 'elite': 'None',
 'fans': 0,
 'funny': 0,
 'gender': 'F',
 'name': 'Susan',
 'review_count': 1,
 'useful': 0,
 'user_id': 'lzlZwIpuSWXEnNS91wxjHw',
 'yelping_since': '2015-09-28'}